<footer>
    <div class="copyright">
        <div class="row">
            <div class="col-sm-4 col-12">
               <p class="h4 text-dark text-center">BookNeRD</p>
            </div>
            <div class="col-sm-4 col-12 text-center">
                <div class="text-dark font-weight-bolds text-center">Copyrights@2020-BookNeRD. <span class="font-weight-bold">All rights reserved</span></div>
            </div>
            <div class="col-sm-4 col-12 text-center social-ico">
                <i class="fa fa-google" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>

</body>
</html>