<%- include('./layouts/publicHeader') %> 
<section id="login">
    <div class="login-form text-center">
        <div class="row">
            <div class="col-md-6 login-left">
                <img class="img-fluid d-md-block d-none login-img" src="images/read3.jpg" alt="reading-image">
                <div class="d-md-block">
                    <div class="mt-2 ml-3 text-secondary font-weight-bold" style="font-family: 'Indie Flower', cursive;">Welcome! Please login to explore the world of BOOKS.</div>
                    <p class="h6 mt-2">OR</p>
                    <div class="p-2 ml-3 mb-3">
                        <p class="small text-muted d-lg-inline">Have a account.</p>
                        <a href="/login" class="btn m-2 d-lg-inline redirect-btn">Log IN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 login-right">
                <h2 class="login">Sign IN</h2>
                <hr>
                <form action="/signup" method="POST">
                    <div class="user">
                        <label class="user-head" for="name">Name</label><br>    
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" id="name" class="textbox" name="name" placeholder="enter your name...." required>
                    </div>
                    <div class="email">
                        <label class="email-head" for="email">Email</label><br>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="email" id="email" class="textbox" name="email" placeholder="enter your email...." required>
                    </div>
                    <div class="password">
                        <label class="password-head" for="password">Password</label><br> 
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" id="password" class="textbox" name="password" placeholder="enter your password...." required>
                    </div>
                    <button type="submit" class="btn login-btn">Sign UP</button>
                </form>
                <div>
                    
                </div> 
            </div>
        </div>
    </div>
</section>
<%- include('./layouts/footer') %> 
